#plan-data-map-uk {
  background: #d9d9d6;
  margin: 1rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}
#plan-data-map-uk .map-detail {
  display: none;
  background: white;
  width: 100%;
  color: #707070;
  max-width: 25%;
  padding: 1rem;
  float: left;
  margin: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}
#plan-data-map-uk .map-detail h2 {
  color: #0070d8;
  margin: 0;
}
#plan-data-map-uk svg {
  display: block;
  width: 100%;
  height: auto;
}
@media all and (min-width: 640px) {
  #plan-data-map-uk svg {
    max-width: 50%;
    margin-left: auto;
  }
  #plan-data-map-uk .map-detail {
    display: block;
  }
}
